@media (max-width: 1200px) {
    .container {
      max-width: 90%;
      min-width: 340px;
      padding: 0 20px;
    }
  
  
  .header-menu__item {
    margin-top: 10px;
  }
  
  .product-description {
    width: 100%;
  }
  
  .product-description img {
    margin-bottom: 20px;
  }

  .product-info {
    min-width: 250px;
  
  }

  .description {
    width: 100%;
  }
  }
  
  @media (max-width: 1000px) {

    .product_list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }
  
    header {
    margin-bottom: 40px;
  }
  
  .header-menu {
  
    justify-content: center;
  }
  .product-description {
  flex-direction: column;
  }
  
  .product-info {
    min-height: 200px;
    border-left: none;
    border-top: 1px solid #e0e3ee;
    width: 100%;
  
  }
  
    .product__item {
      flex-direction: column;
        width: 285px;
    }
  
    .filter-and-search__inner{
      flex-direction: column;
    }
  
    .filter {
  
    margin-bottom: 20px;
  
  }
  
  .search__content-input {
    width: 100%;
  
  }
  
  }
  