html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  color: #2c3965;
  font-family: sans-serif;
  font-size: 11px;
  line-height: 18px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

/* header */

.header-menu {
  display: flex;
  justify-content: end;
}

.header-menu__list {
  width: 270px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.header-menu__item {
  padding: 28px 20px 8px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.header-menu__item:last-child {
  padding-right: px;
}

.header-menu__item.favorite {
  position: relative;
}

.header-menu__item.favorite::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
  top: 9px;
  left: 40px;
  background-image: url("../images/favorites.svg");
}

.header-menu__item.stock {
  position: relative;
}

.header-menu__item.stock::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  top: 7px;
  left: 25px;
  background-image: url("../images/stock.svg");
}

.header-menu__item.deals {
  position: relative;
}

.header-menu__item.deals::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  top: 7px;
  left: 27px;
  background-image: url("../images/bag.svg");
}

/* .header-menu__link--active {
  background-color: #f4f5f9;
  border-radius: 10px;
} */
li:has(> .header-menu__link--active) {
  background-color: #f4f5f9;
  border-radius: 10px;
}

header {
  margin-bottom: 80px;
}

.filter__list {
  display: flex;
  justify-content: space-between;
  width: 225px;
}

.filter-and-search__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.filter {
  background-color: #f4f5f9;
  border: 1px solid #e0e3ee;
  border-radius: 8px;
  padding: 5px 10px;
  color: #969dc3;
  cursor: pointer;
}

.filter__item.filter__item--active {
  color: #2d3b87;
}

.search__content-input {
  border-radius: 8px;
  width: 275px;
  padding: 5px 20px;
  border: none;
  line-height: 19px;
  border: 1px solid #e0e3ee;
}

.search__content-input:focus {
  outline: none;
}

.search__content-form {
  position: relative;
}

.search__content-btn {
  font-size: 14px;
  line-height: 17px;
  background: #2d3b87;
  background-image: url("../images/search_20.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
  padding: 13px 13px;
  border: none;
  position: absolute;
  top: 2px;
  right: 4px;
}

.product__item {
  border: 1px solid #e0e3ee;
  border-radius: 10px;
}

.product-description {
  display: flex;
  justify-content: start;
  width: 820px;
  padding: 15px;
}

.product-description img {
  width: 250px;
  height: 250px;
  border-radius: 8px;
}

.product-description__text {
  padding: 0 15px;
}

.product-description__text p,
.product-description__text div {
  margin-bottom: 15px;
}

.product__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.product-info {
  width: 250px;
  padding: 15px;
  border-left: 1px solid #e0e3ee;
  border-radius: 10px;
}

.tag {
  color: #969dc3;
}

.title {
  font-weight: bold;
  font-size: 15px;
}

.location {
  color: #616ca5;
  background-color: #f4f5f9;
  padding: 5px 8px 5px 27px;
  width: 200px;
  border-radius: 3px;
  position: relative;
}

.location::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  top: 6px;
  left: 5px;
  background-image: url("../images/geo_15.svg");
}

.seller span:nth-child(1) {
  color: #969dc3;
}

.seller span:nth-child(2) {
  color: #2d3b87;
  font-weight: bold;
  margin-left: 5px;
}

.product-type {
  background-color: #f4f5f9;
  padding: 8px;
  width: 110px;
  border-radius: 8px;
}

.product-type p {
  margin-bottom: 5px;
}

.product-type p:nth-child(1) {
  color: #969dc3;
}

.product-type p:nth-child(2) {
  color: #616ca5;
}

.price {
  font-weight: bold;
  font-size: 18px;
  color: #2d3b87;
}

.product-info {
  position: relative;
}

.product-info p,
.product-info div {
  margin-bottom: 15px;
}

.quantity,
.product-price {
  display: flex;
  justify-content: space-between;
}

.quantity span:nth-child(1),
.product-price span:nth-child(1) {
  color: #969dc3;
}

.product-btns {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.add-btn {
  font-size: 14px;
  line-height: 15px;
  background: #f4f5f9;
  width: 170px;
  border-radius: 6px;
  padding: 13px 13px;
  border: none;
  bottom: 0;
  color: #2d3b87;
  font-weight: bold;
  cursor: pointer;
}

.like-btn {
  cursor: pointer;

  background: #f4f5f9;
  width: 40px;
  background-image: url("../images/favourite_20.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
  padding: 13px 13px;
  border: none;
  bottom: 0;
  margin-left: 10px;
}

.like-btn.active{
  background: #2D3B87;
  width: 40px;
  background-image: url("../images/liked.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
  padding: 13px 13px;
  border: none;
  bottom: 0;
  margin-left: 10px;
}

.add-btn.green-btn {
  background: #69c57f;
  color: #fff;
}
